.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalOverlay .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 420px;
    width: 100%;
    position: relative;
}

.modalOverlay .modal-content .close {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    float: right;
}

.modalOverlay .modal-content .close:hover {
    color: #ff0000;
}

.modal-form {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.input-group label {
    font-weight: bold;
    white-space: nowrap;
}

.input-tag {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-tag:hover {
    border-color: var(--primary-color);
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}
